{% extends "base.twig" %}

{% block content %}
<div class="max-w-7xl mx-auto px-2 py-28 text-center">
  <h1 class="text-4xl font-bold text-black">Page Not Found</h1>
  <p class="text-lg mt-4 text-slate-700">Sorry, we couldn't find what you're looking for.</p>
</div>
{% endblock %}
